{{log discountedPrice}}
<div class="product-details">
  <section>
    <h3>{{@productInfo.name}}</h3>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
  </section>
  <section>
    {{#if @productInfo.discount}}
    <del class="small text-black-50">${{@productInfo.price}}</del>
    <i class="text-danger font-weight-bold">${{@discountedPrice}}</i>
    {{else}}
    <p class="small text-black-50">${{@productInfo.price}}</p>
    {{/if}}

  </section>

  {{#if @detailPage}}
  <div>
    <h5 class="mt-5">Description</h5>
    <p>{{@productInfo.description}}</p>
  </div>
  <div class="bottom-detail">
    <div>
      <h5>Color</h5>
      <div class="product-colors active-{{@color}}">
        {{#each @productInfo.options.0.colors as |color|}}
        <span class="product-color color-{{color}}" {{on 'click' (fn @onChangeColor color)}}></span>
        {{/each}}
      </div>
    </div>
    <button type="button" {{on 'click' (fn this.addProductToCart @productInfo @color)}} class="add-to-cart"><i
        class="fa fa-shopping-cart"></i> Add to cart</button>
  </div>
  {{/if}}

</div>