<div class="product-details">
  <section>
    <h3>{{@productInfo.name}}</h3>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
  </section>
  <section>
    {{#if @productInfo.discount}}
    <del class="small text-black-50">${{@productInfo.price}}</del>
    <i class="text-danger font-weight-bold">${{this.newPrice}}</i>
    {{else}}
    <p>${{@productInfo.price}}</p>
    {{/if}}

  </section>
</div>